<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>RegressionDev</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesdepone.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>
    <body ng-app="app">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
        <script src="https://unpkg.com/angular-ui-router@1.0.0-beta.3/release/angular-ui-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.10.0/math.min.js"></script>
        <header style="border-bottom:1px solid #E1E1E1;">
          <div class="container">
            <a ui-sref="home">Home</a>
            <a ui-sref="csvmanage" style="float:right">CSV Manager</a>
          </div>
        </header>

        <div id="intro" class="container">
            <p style="text-align:center;">Hello. Thanks for signing in.
                Below are the assumptions made for generating a linear regression model.  Enjoy!</p>
            <ol>
                <li>Your dependent variable should be measured on a continuous scale</li>
                <li>You have two or more independent variables, which can be either continuous or categorical</li>
                <li>You should have independence of observations/residuals</li>
                <li>There needs to be a linear relationship</li>
                <li>Your data needs to show homoscedasticity</li>
                <li>Your data must not show multicollinearity</li>
                <li>There should be no significant outliers, high leverage points or highly influential points</li>
                <li>The residuals are approximately normally distributed</li>
            </ol>
            <button ui-sref="csvmanage">Enter</button>
        </div>


        <div class="container">
          <ui-view></ui-view>
        </div>

        <footer style="position:fixed;bottom:0;">
          <p>kevin l cowley</p>
        </footer>

        <script src="{{ url_for('static', filename='app.module.js') }}"></script>
        <script src="{{ url_for('static', filename='app.configr.js') }}"></script>
        <script src="{{ url_for('static', filename='homedepfour.component.js') }}"></script>
        <script src="{{ url_for('static', filename='csvmanagedepseven.component.js') }}"></script>
        <script src="{{ url_for('static', filename='regressiondepone.component.js') }}"></script>
        <script src="{{ url_for('static', filename='fdepone.js') }}"></script>
        <script src="{{ url_for('static', filename='tdepone.js') }}"></script>

    </body>
</html>